.env

# Backend python
backend/.venv/
**/__pycache__/


# Node.js
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*


# Build
frontend/build/
frontend/dist/
frontend/.next/
frontend/out/

# Django
backend/*.log
backend/local_settings.py
backend/db.sqlite3
backend/db.sqlite3-journal
